<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Ionic NFC </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-row>
      <ion-col size="12">
        <ion-button size="large" expand="block" (click)="cekNFC()">Cek NFC</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button size="large" expand="block" (click)="settingNFCPage()">Setting NFC</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="large" expand="block" (click)="readerPage()">Reader</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="large" expand="block" (click)="writePage()">Write</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button size="large" expand="block" (click)="ndefListenerPage()">Ndef Listener & Record</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button size="large" expand="block" (click)="tagTechnology()">Tag Technology</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
